body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
  position: absolute;
}

.flip-box-back {
  color: black;
  position: absolute;
  transform: rotateY(180deg);
}
.main {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
 }
    
#box {       
  top:50%;
  bottom: 50%;
  padding-top: 40px;
  width: 400px;
  height: 100px;
  border: 20px outset;          
  border-color: red;
  margin-left: auto;           
  text-align: center;
  font-size: 32px;
  font-weight: bold;
 }
#box1 {        
  top:50%;
  bottom: 50%;
  padding: 40px;
  width: 400px;
  height: 100px;
  border: 20px outset;          
  border-color: lightblue;
  margin: auto; 
  text-align: center;
  font-size: 18px;
  font-weight: bold;
 }      
p0,p1 {         
  text-align: center;         
  font-weight: bold;          
  font-size: 32px;
 }